<html (mousemove)="onMove()">
  <table>
 <tr>
    <td><label>Nome </label></td>
    <td><input [(ngModel)]="aluno.nome" name="namebox"></td>
    <td><button (click)="criarAluno(aluno)">Adicionar</button></td>
 </tr>
 <tr>
    <td><label>CPF </label></td>
    <td><input [(ngModel)]="aluno.cpf" name="cpfbox"></td>
    <td name="msgcpfexistente" *ngIf="cpfduplicado">
      Já existe um aluno com esse CPF
    </td>
    <td name="msgcpfinvalido" *ngIf="cpfinvalido">
      O CPF é composto apenas por números
    </td>    
 </tr>
 <tr>
    <td><label>e-mail </label></td>
    <td><input [(ngModel)]="aluno.email" name="emailbox"></td>
    <td name="msgemailinvalido" *ngIf="emailinvalido">
      Um email válido contém "@"
    </td>
    <td name="msgcampovazio" *ngIf="campovazio">
      Há um ou mais campos vazios
    </td>
 </tr>
 <tr>
    <td></td><td></td><td>Ou faça o upload de uma planilha CSV:</td>
 </tr>
 <tr><td></td><td></td><td><input type="file" name="uploadbutton" (change)="onFileChange($event)" multiple="false" accept='.csv'></td></tr>
 </table>
  <table>
 <tr *ngIf="alunos.length > 0">
    <th>Nome</th>
    <th>CPF</th>
    <th>e-mail</th>
 </tr>
 <tr *ngFor="let a of alunos" name="alunolist">
    <td name="nomelist">{{a.nome}}</td>
    <td name="cpflist">{{a.cpf}}</td>
    <td>{{a.email}}</td>
    <td><button (click)="removerAluno(a.cpf)" name = 'x'> X </button></td>
 </tr>
 </table>

  </html>